.form_container{
    width: 30%;
}
.error-message {
    font-size: 10px;
    color: red; /* or any other color you prefer */
  }

@media screen and (max-width: 1000px){
    .form_container{
        width: 45%;
    }

}

@media screen and (max-width: 700px){
    .form_container{
        width: 65%;
    }

}