.btn-send-otp {
    background-color: #ffc0cb;
    color: white;
    border: none;
    border-radius: 0.25rem;
    padding: 0.625rem 1.25rem;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
  
  
  }