.input-style {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  transition: border-color 0.3s;
}

.input-style:focus {
  border-color: #007bff;
}

.textarea-style {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  transition: border-color 0.3s;
  height: 120px; /* Adjust the height as needed */
  resize: none;
}
