/* AdminSidebar.css */

.admin-sidebar {
  background-color: #000000;
  color: #fafafa;
  width: 250px;
  height: 100vh; /* Set the height to 100% of the viewport height */
  position: fixed;
  z-index: 1;
  top: 80px;
  left: 0;
  transition: transform 0.3s ease;
}

.admin-sidebar a {
  text-decoration: none; /* Remove underline */
  color: white; /* Set your preferred color */
}

.toggle-button {
  cursor: pointer;
  color: #64dede;
  font-size: 20px;
  align-self: flex-end;
  margin-top: 10px;
  margin-right: 10px;
}

.admin-sidebar ul {
  list-style: none;
  padding: 0;
}

.admin-sidebar li {
  padding: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 12px; /* Rounded border */
  transition: border-color 0.3s ease;
}

.admin-sidebar li.logout-button {
  margin-top: auto; /* Push the logout button to the bottom */
  color: red;
}

.admin-sidebar li.logout-button:hover {
  border-color: #dc3545;
}

.admin-sidebar li:hover {
  border-color: #fdfdfd;
}

.sidebar-icon {
  margin-right: 10px;
}

.menu-text {

    display: flex; /* Change 'block' to 'flex' */
    align-items: center; /* Vertically center the text */
  
  }

.icons-only {
  transform: translateX(-200px);
}

/* .icons-only .sidebar-icon {
  display: none; 
} */
@media (min-width: 768px) {
  .toggle-button {
    margin-right: 5px;
    color: aqua;
  }
}


@media (max-width: 768px) {
  .admin-sidebar {
    width: 50px;
  }

  .admin-sidebar ul li {
    padding: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 12px; /* Rounded border */
    transition: border-color 0.3s ease;
  }

  .admin-sidebar ul li .sidebar-icon {
    margin-right: 5px; /* Adjust this value as needed */
  }
  
  .toggle-button {
    margin-right: 5px;
    color: aqua;
  }
}

@media (max-width: 760px) {
  .admin-sidebar {
    width: 50px;
  }

  .admin-sidebar .menu-text {
    display: none;
  }

  .admin-sidebar.icons-only {
    transform: translateX(0);
  }

  .admin-sidebar.icons-only .sidebar-icon {
    display: inline; /* Display the icon in icons-only mode */
  }

  .toggle-button {
    margin-right: 5px;
    color: aqua;
  }
}

@media (max-width: 400px) {
  .admin-sidebar li {
    padding: 10px;
  }

  .admin-sidebar .toggle-button {
    margin-right: 0;
  }

  .admin-sidebar.icons-only .sidebar-icon {
    display: inline; /* Display the icon in icons-only mode */
   
  }
  
  .toggle-button {
    margin-right: 5px;
    color: aqua;
  }
}
