/* AdminHeader.css */

.admin-header {
    background-color: #a89292;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
  
  .logo {
    flex-shrink: 0;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  .search-bar input {
    margin-right: 10px;
    padding: 5px;
    border-radius: 35px;
    border-color: rgb(0, 144, 211);
  }
  
  .search-bar button {
    background-color: white;
    color: #000000;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .profile-container {
    cursor: pointer;
    margin-left: 10px;
  }
  
  /* Rounded div for the profile image with background image */
  .profile-image {
    width: 40px;
    height: 40px;
    background-size: cover; /* Ensure the image covers the div */
    background-position: center; /* Center the image within the div */
    border-radius: 50%;
  }
  