/* HotelHeader.css */

.hotel-header {
    background-color: #fffefeab;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
  
  .logo {
    flex-shrink: 0;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  .search-bar input {
    margin-right: 10px;
    padding: 5px;
    border-radius: 35px;
    border-color: rgb(0, 144, 211);
  }
  
  .search-bar button {
    background-color: white;
    color: #000000;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .profile-container {
    display: flex; /* Ensure elements within profile-container are displayed in a row */
    align-items: center; /* Vertically align elements within profile-container */
    cursor: pointer;
    margin-left: 10px;
  }
  
  /* Rounded div for the profile image with background image */
  .profile-image {
    width: 40px;
    height: 40px;
    background-size: cover; /* Ensure the image covers the div */
    background-position: center; /* Center the image within the div */
    border-radius: 50%;
  }
  /* Add these styles to your HotelHeader.css */
.logout-button {
  background-color: #00d5ff; /* Change to your desired background color */
  color: #ffffff; /* Change to your desired text color */
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold; /* You can adjust the font weight as needed */
  transition: background-color 0.3s; /* Add a smooth transition effect */
  margin-left: 10px; /* Add margin to create spacing between elements */
}

.logout-button:hover {
  background-color: #0070cc; /* Change to a different color on hover */
}
